@page "/todolistoverview"
@inject TaskMasterService taskMaster

<PageTitle>Overview of Todo Lists</PageTitle>

<h1>Overview of Todo Lists</h1>
    @if (_lists == null)
    {
        <p>Loading</p>
    }
    else
    {
        <ul>
        @foreach (TodoListOverviewDTO list in _lists)
        {
            int index = list.Id;
            <li><a href="./todolist/@list.Id">@list.Title</a></button><button @onclick="@(e => RequestDelete(index)"></button></li>
        </ul>
        }
    }


@code 
{
    private List<TodoListOverviewDTO>? _lists;

    protected override async Task OnInitializedAsync()
    {
        _lists = await taskMaster.GetTodoLists();
    }
}
